frontend/node_modules/
frontend/build/

.venv/
venv/
env/

backend/app/.env
frontend/.env
.env

backend/app/static/fotos/

*.db
*.sqlite3
*.log
.pytest_cache/

.vscode/
.idea/

!.env.example
!backend/app/.env.example
!frontend/.env.example

.env.local
.env.*.local
frontend/.env.local
backend/app/.env.local

.DS_Store
npm-debug.log*
yarn-error.log*
lerna-debug.log*

.env.development.local
.env.test.local
.env.production.local

alembic/
alembic.ini
.hintrc
package.json
package-lock.json
desktop.ini
__pycache__/
*.pyc
