fastapi==0.95.2
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
pydantic==1.10.11
fastapi-mail
redis
python-multipart
email-validator
Pillow
python-dateutil
python-slugify
openpyxl
reportlab
qrcode
jinja2
pdfkit
