fastapifastapi==0.120.4
uvicorn[standard]==0.38.0
sqlalchemy==2.0.44
psycopg2-binary==2.9.11
python-dotenv==1.2.1
passlib[bcrypt]
python-jose[cryptography]
pydantic
fastapi-mail==1.5.7
redis
python-multipart
email-validator
Pillow
python-dateutil
python-slugify
openpyxl
reportlab
qrcode
jinja2
pdfkit
